body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #424242;
}

/*header nav*/
.logo img {
    margin-left: 15%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100000;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 60px 70px 110px;
    justify-content: right;
    gap: 1rem;
}

nav ul li a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
}

nav ul li a:hover {
    display: inline-block;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    padding: 10px;
    background-color: #EDF1D6;
    border-radius: 5px;
    text-decoration: none;
    color: #40513B;
}

/*hamburger*/
.hamburger {
    display: none;
    z-index: 99;
    position: fixed;
    top: 16px;
    right: 35px;
    min-width: 44px;
    min-height: 44px;
}

.hamburger div {
    width: 25px;
    height: 2px;
    background-color: #000;
    margin: 7px;
    transition: all 0.3s;
    z-index: 99;
}

/*hero*/
.hero {
    display: flex;
    align-items: center;
    min-height: 550px;
    width: 100%;
    text-align: center;
    background-image: url("../public/images/heros/hero-image_4.jpg");
    background-position: center;
    background-repeat: repeat;
    background-color: green;
}

.hero_inner {
    margin: 0 auto;
    max-width: 800px;
}

.hero_title {
    color: white;
    font-weight: 500;
    font-size: 36px;
}

.hero_line {
    color: #ffffff;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 400;
    text-shadow: 2px 2px 4px rgba(26, 23, 23, 0.76);
}
@media (max-width: 600px) {
    .hero {
        background-image: url("../public/images/heros/hero-image_4.jpg");
        /* Ganti dengan gambar untuk tampilan mobile */
    }

    .hero_inner {
        padding: 20px; /* Sesuaikan padding sesuai kebutuhan pada tampilan mobile */
    }
}
/*main*/
main {
    width: 100%;
    margin: 0 auto;
}

/*content*/
.content {
    padding: 32px;
}

.headline_content {
    width: 100%;
    margin-top: 10px;
    padding: 16px 32px;
    text-align: center;
}

.headline_title {
    font-size: 20px;
    font-weight: 700;
}

.list {
    width: 100%;
    margin: 60px auto;
    text-align: center;
}

.post {
    margin: 32px auto auto;
    text-align: left;
}

/*card*/
#restaurantList, #restaurants {
    margin: 32px auto auto;
    text-align: left;
    justify-content: center;
}
@media screen and (min-width: 550px) {

    /*    card*/
    #restaurantList , #restaurants {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        gap: 20px;
    }


    /*    mohon maaf saya letakkan pada width ini, karena card sudah terlihat lebih besar.
    dan pada hamburger memang sengaja di tampilkan pada width 680, karena nav sudah tidak kondusif*/
}

@media screen and (max-width: 680px) {
    .hamburger {
        display: inline-block;
        cursor: pointer;
    }

    .toggle-burger .line1 {
        transform: rotate(-45deg) translate(-5px, 7px);
    }

    .toggle-burger .line2 {
        opacity: 0;
    }

    .toggle-burger .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }

    /*    nav*/
    nav {
        position: fixed;
        width: 100%;
        right: 0;
        top: -100%;
        height: 100vh;
        flex-direction: column;
        background: #fff;
        border-left: 1px solid #dfdcdc;
        z-index: 9;
        transition: .4s ease;
    }

    nav ul {
        display: flex;
        height: 100vh;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    nav ul li a::after {
        content: '';
        display: block;
        padding-bottom: 0.5rem;
        border-bottom: .1rem solid #5b8273;
        transform: scaleX(0);
        transition: 0.2s;
    }

    nav ul li a:hover {
        box-shadow: none;
        background-color: transparent;
        color: #5b8273;
    }

    nav ul li a:hover::after {
        transform: scaleX(.5);
    }

    .nav-active {
        top: 0;
    }
}

@media screen and (min-width: 900px) {

    #restaurantList , #restaurants{
        display: grid;
        grid-template-columns: repeat(3, 30%);
        gap: 29px;
    }
}
